Form_Config.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.emailCredential }}",
                    "rightValue": "pir",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "a9c83749-c8a5-49b9-9f5c-808d403c0ef5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pi R Square"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        14720,
        11392
      ],
      "id": "90a87099-7d06-4a18-8f70-861c2054446f",
      "name": "Switch Email Route"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-files-check",
              "leftValue": "={{ $json.hasFiles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13952,
        11104
      ],
      "id": "d3165ead-fe75-4c08-a57e-9ea683b4f60d",
      "name": "Has Files?"
    },
    {
      "parameters": {
        "jsCode": "const driveResponse = $input.first().json;\nconst prevData = $('Extract File Data').first().json;\n\n// Google Drive file link\nconst fileId = driveResponse.id;\nconst viewLink = `https://drive.google.com/file/d/${fileId}/view`;\n\n// Update answers to include file link\nconst answers = JSON.parse(prevData.answers || '{}');\nconst fieldId = prevData.currentFieldId;\nanswers[fieldId] = viewLink;\n\nreturn [{\n  json: {\n    submittedAt: prevData.submittedAt,\n    formId: prevData.formId,\n    formTitle: prevData.formTitle,\n    answers: JSON.stringify(answers, null, 2),\n    notifyEmails: prevData.notifyEmails,\n    slackWebhook: prevData.slackWebhook,\n    responseSheet: prevData.responseSheet,\n    userEmail: prevData.userEmail,\n    fileLink: viewLink\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15712,
        11008
      ],
      "id": "4bc167bf-56d7-4fcd-bc6c-a499552a59f0",
      "name": "Create Drive Link"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{ $json.currentFilename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.targetFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15504,
        11008
      ],
      "id": "a1dc5fdf-0273-4146-8e9a-932fca439eba",
      "name": "Upload to Google Drive",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XIuJit5Z5Xpiw5Pj",
          "name": "Google Drive account - POOH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Extract File Data').first().json;\nconst createdFolder = $input.first().json;\n\n// Use the newly created folder ID\nreturn [{\n  json: {\n    ...prevData,\n    targetFolderId: createdFolder.id\n  },\n  binary: $('Extract File Data').first().binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15200,
        10928
      ],
      "id": "babb3a59-cd7b-4e07-953a-b1cc3b902469",
      "name": "Use Created Folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Extract File Data').first().json.formId }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5",
          "mode": "list",
          "cachedResultName": "FORM - Image",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        14960,
        10928
      ],
      "id": "57a81f95-b824-4ca2-8682-b7c1c0207229",
      "name": "Create Subfolder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XIuJit5Z5Xpiw5Pj",
          "name": "Google Drive account - POOH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Extract File Data').first().json;\nconst existingFolder = $input.first().json;\n\n// Use existing folder ID\nreturn [{\n  json: {\n    ...prevData,\n    targetFolderId: existingFolder.id\n  },\n  binary: $('Extract File Data').first().binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15088,
        10784
      ],
      "id": "0b638599-df9f-48e5-9cac-44dca27c5536",
      "name": "Use Existing Folder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "folder-exists-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14768,
        10864
      ],
      "id": "2860c9f1-3f03-4cab-8bff-32b6beb4733a",
      "name": "Folder Exists?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"name='\" + $('Extract File Data').first().json.formId + \"' and '1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5' in parents and mimeType='application/vnd.google-apps.folder' and trashed=false\" }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        14592,
        10864
      ],
      "id": "b2ba773a-2cf4-47c9-9468-7c4431a80b39",
      "name": "Search Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XIuJit5Z5Xpiw5Pj",
          "name": "Google Drive account - POOH"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-use-subfolder",
              "leftValue": "={{ $json.useSubfolder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14400,
        10992
      ],
      "id": "19041cf5-3b82-4629-bbf6-82f433dc65b5",
      "name": "Need Subfolder?"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst fileFields = item.fileFields || {};\nconst fieldIds = Object.keys(fileFields);\n\nif (fieldIds.length === 0) {\n  return [{ json: { ...item, fileLinks: {} } }];\n}\n\n// Process first file (for simplicity, handle one file at a time)\nconst fieldId = fieldIds[0];\nconst file = fileFields[fieldId];\n\n// Remove data URI prefix (data:mime/type;base64,)\nconst base64Clean = file.base64.split(',')[1] || file.base64;\n\n// Determine target folder\nconst driveUrl = item.driveUrl || '';\nlet targetFolderId = '1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5'; // default folder: FORM - Image\n\nif (driveUrl) {\n  // Extract folder ID from Google Drive URL\n  // Formats: /folders/ID, /d/ID, ?id=ID\n  const folderMatch = driveUrl.match(/folders\\/([a-zA-Z0-9_-]+)|d\\/([a-zA-Z0-9_-]+)|[?&]id=([a-zA-Z0-9_-]+)/);\n  if (folderMatch) {\n    targetFolderId = folderMatch[1] || folderMatch[2] || folderMatch[3];\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    currentFieldId: fieldId,\n    currentFilename: file.filename,\n    currentMimeType: file.mimeType,\n    targetFolderId: targetFolderId,\n    useSubfolder: !driveUrl // ถ้าไม่มี driveUrl จะสร้าง subfolder ตาม formId\n  },\n  binary: {\n    file: {\n      data: base64Clean,\n      mimeType: file.mimeType,\n      fileName: file.filename\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14176,
        10992
      ],
      "id": "3fbd9a29-0abf-486a-a519-19cd98b5bfe5",
      "name": "Extract File Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Form submitted successfully' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        13952,
        10912
      ],
      "id": "f179a622-4e0e-4bf3-95cf-a6b410b835b2",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Submit Webhook').item.json.body.response_sheet || 'https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?gid=61872764#gid=61872764' }} ",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Submit Webhook').item.json.body.response_sheet || 'https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?gid=61872764#gid=61872764' }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Form ID",
              "displayName": "Form ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Form Title",
              "displayName": "Form Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instructor_quality",
              "displayName": "instructor_quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_relevance",
              "displayName": "content_relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "practical_application",
              "displayName": "practical_application",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "learning_materials",
              "displayName": "learning_materials",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "support_service",
              "displayName": "support_service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "best_part",
              "displayName": "best_part",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "additional_feedback",
              "displayName": "additional_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_info",
              "displayName": "contact_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        14496,
        11216
      ],
      "id": "ffab80c9-2800-4735-bdce-7165fe1414d9",
      "name": "Append to Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eiXrRmu5i3vrFtp9",
          "name": "POOH' GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const logData = $input.first().json;\nconst prevData = $('Format Form Submission').first().json;\n\n// Parse answers from Set Log Fields output\nlet answers = {};\n\n// Try to get answers from different sources\nif (logData.answers) {\n  try {\n    answers = typeof logData.answers === 'string' ? JSON.parse(logData.answers) : logData.answers;\n  } catch (e) {\n    console.log('Failed to parse logData.answers:', e);\n  }\n}\n\n// Fallback: get from prevData if logData doesn't have it\nif (Object.keys(answers).length === 0 && prevData.answers) {\n  try {\n    answers = typeof prevData.answers === 'string' ? JSON.parse(prevData.answers) : prevData.answers;\n  } catch (e) {\n    console.log('Failed to parse prevData.answers:', e);\n  }\n}\n\n// แยก file links และ regular answers\nconst fileLinks = {};\nconst regularAnswers = {};\n\nfor (const [key, value] of Object.entries(answers)) {\n  if (typeof value === 'string' && value.startsWith('https://drive.google.com')) {\n    fileLinks[key] = value;\n  } else {\n    regularAnswers[key] = value;\n  }\n}\n\nconst formattedDate = prevData.formattedDate || prevData.submittedAt;\nconst userEmail = prevData.userEmail;\nconst formTitle = prevData.formTitle;\nconst formId = prevData.formId;\nconst responseSheet = prevData.responseSheet;\n\n// ========== EMAIL FORMAT (HTML) ==========\nlet answersHtml = '';\nfor (const [k, v] of Object.entries(regularAnswers)) {\n  answersHtml += '<li><strong>' + k + ':</strong> ' + (v ?? '-') + '</li>';\n}\n\nlet fileLinksHtml = '';\nif (Object.keys(fileLinks).length > 0) {\n  fileLinksHtml = '<h3>📎 ไฟล์แนบ:</h3><ul style=\"line-height: 1.8;\">';\n  for (const [field, link] of Object.entries(fileLinks)) {\n    fileLinksHtml += '<li><strong>' + field + ':</strong> <a href=\"' + link + '\">ดูไฟล์</a></li>';\n  }\n  fileLinksHtml += '</ul>';\n}\n\nconst emailMessage = '<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">' +\n  '<h2 style=\"color: #333;\">📋 ฟอร์มใหม่: ' + formTitle + '</h2>' +\n  '<table style=\"width: 100%; border-collapse: collapse; margin: 16px 0;\">' +\n  '<tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>📅 ส่งเมื่อ:</strong></td><td style=\"padding: 8px;\">' + formattedDate + '</td></tr>' +\n  '<tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>📧 อีเมลผู้ส่ง:</strong></td><td style=\"padding: 8px;\">' + (userEmail || '-') + '</td></tr>' +\n  '<tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>🆔 Form ID:</strong></td><td style=\"padding: 8px;\">' + formId + '</td></tr>' +\n  '</table>' +\n  '<h3>📝 คำตอบ:</h3>' +\n  '<ul style=\"line-height: 1.8;\">' + answersHtml + '</ul>' +\n  fileLinksHtml +\n  '<hr style=\"margin: 20px 0;\">' +\n  '<p>📊 <a href=\"' + responseSheet + '\">ดู Response Sheet</a></p>' +\n  '</div>';\n\n// ========== SLACK FORMAT (Markdown) ==========\nlet answersSlack = '';\nfor (const [k, v] of Object.entries(regularAnswers)) {\n  answersSlack += '• *' + k + ':* ' + (v ?? '-') + '\\n';\n}\n\nlet fileLinksSlack = '';\nif (Object.keys(fileLinks).length > 0) {\n  fileLinksSlack = '\\n━━━━━━━━━━━━━━━━━━━━━━\\n*📎 ไฟล์แนบ:*\\n';\n  for (const [field, link] of Object.entries(fileLinks)) {\n    fileLinksSlack += '• *' + field + ':* <' + link + '|ดูไฟล์>\\n';\n  }\n}\n\nconst slackMessage = '📋 *ฟอร์มใหม่: ' + formTitle + '*\\n\\n' +\n  '━━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '📅 *ส่งเมื่อ:* ' + formattedDate + '\\n' +\n  '📧 *อีเมลผู้ส่ง:* ' + (userEmail || 'ไม่ระบุ') + '\\n' +\n  '🆔 *Form ID:* ' + formId + '\\n\\n' +\n  '━━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '*📝 คำตอบ:*\\n' + answersSlack + fileLinksSlack +\n  '━━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '📊 *Response Sheet:* <' + responseSheet + '|ดู Google Sheet>';\n\nreturn [{\n  json: {\n    ...prevData,\n    ...logData,\n    emailMessage: emailMessage,\n    slackMessage: slackMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14496,
        11408
      ],
      "id": "23766486-a1e4-4fc2-a1a1-858ae60733d9",
      "name": "Format Messages with Links"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Parse answers JSON string\nlet answers = {};\ntry {\n  answers = JSON.parse(item.answers || '{}');\n} catch (e) {\n  answers = {};\n}\n\n// Build output object with base fields first\nconst output = {\n  'Submitted At': item.submittedAt || '',\n  'Form ID': item.formId || '',\n  'Form Title': item.formTitle || ''\n};\n\n// Spread all answer fields as separate columns\nfor (const [key, value] of Object.entries(answers)) {\n  output[key] = value || '';\n}\n\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14288,
        11216
      ],
      "id": "9191e06a-ee7a-472d-8db7-45d3050df286",
      "name": "Set Log Fields"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst answers = body.answers || {};\nconst questions = body.questions || [];\n\n// Config from Google Sheets\nconst notifyEmails = body.notify_emails || '';\nconst slackChannel = body.slack_channel || '';\nconst responseSheet = body.response_sheet || '';\nconst driveUrl = body.drive_url || '';  // ว่าง = สร้าง subfolder\nconst senderEmail = body.sender_email || 'pantawat@pirsquare.net';  // default sender\nconst senderName = body.sender_name || 'PiR Academy';  // default sender name\nconst emailCredential = body.email_credential || 'pooh';  // default to pooh\n\n// Auto-detect user email (improved)\nlet userEmail = '';\n\n// Method 1: Look for field with type = 'email'\nfor (const q of questions) {\n  if (q.type === 'email' && answers[q.id]) {\n    userEmail = answers[q.id];\n    break;\n  }\n}\n\n// Method 2: If not found, look for common email field names\nif (!userEmail) {\n  const emailFieldNames = ['contact_info', 'email', 'user_email', 'contact_email', 'your_email'];\n  for (const fieldName of emailFieldNames) {\n    if (answers[fieldName]) {\n      userEmail = answers[fieldName];\n      break;\n    }\n  }\n}\n\n// Process file fields\nconst fileFields = {};\nconst regularAnswers = {};\n\nfor (const [key, value] of Object.entries(answers)) {\n  if (value && typeof value === 'object' && value.base64) {\n    fileFields[key] = value;\n    regularAnswers[key] = `[FILE: ${value.filename}]`;\n  } else {\n    regularAnswers[key] = value;\n  }\n}\n\n// Format date\nconst submittedAt = body.submitted_at || new Date().toISOString();\nconst formattedDate = new Date(submittedAt).toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' });\n\n// Format answers for display\nconst answersFormatted = Object.entries(regularAnswers)\n  .map(([key, value]) => `• ${key}: ${value ?? '-'}`)\n  .join('\\n');\n\n// ========== EMAIL FORMAT (HTML) ==========\nconst emailMessage = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #333;\">📋 ฟอร์มใหม่: ${body.form_title || ''}</h2>\n  \n  <table style=\"width: 100%; border-collapse: collapse; margin: 16px 0;\">\n    <tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>📅 ส่งเมื่อ:</strong></td><td style=\"padding: 8px;\">${formattedDate}</td></tr>\n    <tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>📧 อีเมลผู้ส่ง:</strong></td><td style=\"padding: 8px;\">${userEmail || '-'}</td></tr>\n    <tr><td style=\"padding: 8px; background: #f5f5f5;\"><strong>🆔 Form ID:</strong></td><td style=\"padding: 8px;\">${body.form_id || ''}</td></tr>\n  </table>\n\n  <h3>📝 คำตอบ:</h3>\n  <ul style=\"line-height: 1.8;\">\n    ${Object.entries(regularAnswers).map(([k, v]) => `<li><strong>${k}:</strong> ${v ?? '-'}</li>`).join('')}\n  </ul>\n\n  <hr style=\"margin: 20px 0;\">\n  <p>📎 <strong>ไฟล์แนบ:</strong> ${Object.keys(fileFields).length > 0 ? '✅ มี' : '❌ ไม่มี'}</p>\n  <p>📊 <a href=\"${responseSheet}\">ดู Response Sheet</a></p>\n</div>`;\n\n// ========== SLACK FORMAT (Markdown) ==========\nconst slackMessage = `📋 *ฟอร์มใหม่: ${body.form_title || ''}*\n\n━━━━━━━━━━━━━━━━━━━━━━\n📅 *ส่งเมื่อ:* ${formattedDate}\n📧 *อีเมลผู้ส่ง:* ${userEmail || 'ไม่ระบุ'}\n🆔 *Form ID:* ${body.form_id || '-'}\n\n━━━━━━━━━━━━━━━━━━━━━━\n*📝 คำตอบ:*\n${Object.entries(regularAnswers).map(([k, v]) => `• *${k}:* ${v ?? '-'}`).join('\\n')}\n\n━━━━━━━━━━━━━━━━━━━━━━\n📎 *ไฟล์แนบ:* ${Object.keys(fileFields).length > 0 ? '✅ มี' : '❌ ไม่มี'}\n📊 *Response Sheet:* <${responseSheet}|ดู Google Sheet>`;\n\nreturn [{\n  json: {\n    submittedAt: submittedAt,\n    formattedDate: formattedDate,\n    formId: body.form_id || '',\n    formTitle: body.form_title || '',\n    answers: JSON.stringify(regularAnswers, null, 2),\n    notifyEmails: notifyEmails,\n    slackChannel: slackChannel,\n    responseSheet: responseSheet,\n    driveUrl: driveUrl,\n    userEmail: userEmail,\n    senderEmail: senderEmail,\n    senderName: senderName,\n    emailCredential: emailCredential,\n    fileFields: fileFields,\n    hasFiles: Object.keys(fileFields).length > 0,\n    // Pre-formatted messages\n    emailMessage: emailMessage,\n    slackMessage: slackMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13728,
        11200
      ],
      "id": "82399f2e-ff72-4a20-941a-51df70d697e2",
      "name": "Format Form Submission"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pir/form/submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        13504,
        11200
      ],
      "id": "06c11774-91fd-4159-8e0a-eff2109f5141",
      "name": "Submit Webhook",
      "webhookId": "consent-submit-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"error\": \"Form not found\",\n  \"message\": \"The requested form ID does not exist\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14176,
        10496
      ],
      "id": "89331e18-7123-42f5-9a58-57b63667a380",
      "name": "Form Not Found"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Parse the form definition JSON from Google Sheets\nconst formDefinition = item['form definition'];\n\n// Get additional config from Google Sheets columns\nconst logoUrl = item['logo url'] || '';\nconst successUrl = item['success url'] || '';\nconst responseSheet = item['response sheet'] || '';\nconst slackChannel = item['slackChannel'] || '';\nconst notifyEmails = item['notify emails'] || '';\nconst formMode = item['form mode'] || 'single';\nconst driveUrl = item['drive url'] || '';  // ว่าง = สร้าง subfolder\nconst senderEmail = item['sender_email'] || 'pantawat@pirsquare.net';  // default sender\nconst senderName = item['sender_name'] || 'PiR Academy';  // default sender name\n\ntry {\n  let parsed = JSON.parse(formDefinition);\n  \n  // If wrapped in 'json' key (Firecrawl format), unwrap it\n  if (parsed.json && parsed.json.questions) {\n    parsed = parsed.json;\n  }\n  \n  // Build config object\n  const config = {\n    logoUrl: logoUrl || parsed.logoUrl || '',\n    successUrl: successUrl || parsed.successUrl || '',\n    responseSheet,\n    slackChannel,\n    notifyEmails,\n    formMode,\n    driveUrl,\n    senderEmail,\n    senderName\n  };\n  \n  // Check if it's Firecrawl format with meta/fields\n  if (parsed.meta && parsed.fields) {\n    const questions = parsed.fields.map(field => {\n      const q = { id: field.name, type: field.type, label: field.label, required: field.required || false };\n      if (field.config) {\n        if (field.config.placeholder) q.placeholder = field.config.placeholder;\n        if (field.config.description) q.description = field.config.description;\n        if (field.config.options) q.options = field.config.options.map(opt => typeof opt === 'string' ? opt : opt.label);\n        if (field.config.accept_types) q.accept = field.config.accept_types;\n        if (field.config.max_file_size_mb) q.maxSize = field.config.max_file_size_mb;\n      }\n      if (q.type === 'number') q.type = 'text';\n      return q;\n    });\n    return [{ json: { title: parsed.meta.title || 'Untitled', description: parsed.meta.description || '', questions, ...config } }];\n  }\n  \n  // Standard format\n  return [{ json: { title: parsed.title || 'Untitled', description: parsed.description || '', questions: parsed.questions || [], ...config } }];\n} catch (e) {\n  return [{ json: { error: 'Invalid form definition', message: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14176,
        10304
      ],
      "id": "faf1cece-442f-43ee-9961-d0a96979eb47",
      "name": "Parse Form Definition"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pir/form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        13504,
        10400
      ],
      "id": "cf7078a3-dfcc-4931-801a-4430c5973d72",
      "name": "Fetch Webhook",
      "webhookId": "a77cbad6-c136-46f1-bd06-d435a94aefa5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b984fe08-59fa-40ff-9707-9eaa257691d1",
              "leftValue": "={{ $json['form id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13952,
        10400
      ],
      "id": "91712265-723b-4b4d-8aed-491b7fa8f5ea",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg",
          "mode": "list",
          "cachedResultName": "[POOH] Dynamic Form Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Config_Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "form id",
              "lookupValue": "={{ $json.body.form_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        13728,
        10400
      ],
      "id": "c751083b-da1c-4da7-8cde-063aa52cf4fc",
      "name": "get path",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eiXrRmu5i3vrFtp9",
          "name": "POOH' GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        14400,
        10400
      ],
      "id": "a69e71d0-c34f-4d12-918e-39088fcfab05",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Messages with Links').item.json.userEmail }}",
        "subject": "=ขอบคุณที่กรอกแบบฟอร์ม: {{ $('Format Messages with Links').item.json.formTitle }}",
        "message": "=สวัสดีค่ะ\n\nขอบคุณที่กรอกแบบฟอร์ม \"{{ $('Format Messages with Links').item.json.formTitle }}\"\n\nเราได้รับข้อมูลของคุณเรียบร้อยแล้ว\n\n📅 วันที่ส่ง: {{ $('Format Messages with Links').item.json.formattedDate }}\n📋 Form ID: {{ $('Format Messages with Links').item.json.formId }}\n\nขอบคุณครับ/ค่ะ\n{{ $json.senderName || 'PiR Academy' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        15136,
        11488
      ],
      "id": "046b605a-c804-40af-a1af-04b60d05e3f7",
      "name": "Send User Email (POOH)",
      "webhookId": "75a44719-48bf-427d-81f6-ede033c87c3d",
      "credentials": {
        "gmailOAuth2": {
          "id": "i6xmL5GuY8gyrXK0",
          "name": "Gmail Account - POOH"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.notifyEmails }}",
        "subject": "=[PiR Form] New submission: {{ $json.formTitle }}",
        "message": "={{ $json.emailMessage }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        14928,
        11456
      ],
      "id": "16c80706-b608-407d-806a-db18ddb287e6",
      "name": "Send Admin Email (POOH)",
      "webhookId": "eb1992cf-875a-4e9b-b3c0-7b60fa16d401",
      "credentials": {
        "gmailOAuth2": {
          "id": "i6xmL5GuY8gyrXK0",
          "name": "Gmail Account - POOH"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Messages with Links').item.json.userEmail }}",
        "subject": "=ขอบคุณที่กรอกแบบฟอร์ม: {{ $('Format Messages with Links').item.json.formTitle }}",
        "message": "=สวัสดีค่ะ\n\nขอบคุณที่กรอกแบบฟอร์ม \"{{ $('Format Messages with Links').item.json.formTitle }}\"\n\nเราได้รับข้อมูลของคุณเรียบร้อยแล้ว\n\n📅 วันที่ส่ง: {{ $('Format Messages with Links').item.json.formattedDate }}\n📋 Form ID: {{ $('Format Messages with Links').item.json.formId }}\n\nขอบคุณครับ/ค่ะ\n{{ $json.senderName || 'PiR Academy' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        15120,
        11328
      ],
      "id": "d47ca0b6-26c6-47fc-94b4-fbf7dbbff0cb",
      "name": "Send User Email (PiR)",
      "webhookId": "3124d033-ab05-4834-af88-b2220daf8be6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Kv3ySnsdX1rdt55e",
          "name": "Admin@piracademy"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.notifyEmails }}",
        "subject": "=[PiR Form] New submission: {{ $json.formTitle }}",
        "message": "={{ $json.emailMessage }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        14896,
        11328
      ],
      "id": "ba607982-bc2a-4b3a-b3ac-85297fa5c64f",
      "name": "Send Admin Email (PiR)",
      "webhookId": "7b7b071b-7307-4e28-8e94-69b2bdf6433b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Kv3ySnsdX1rdt55e",
          "name": "Admin@piracademy"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slackChannel }}",
          "mode": "name"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        14720,
        11632
      ],
      "id": "a93e0317-4f4b-428c-95c5-e6785a1306c6",
      "name": "Send a message",
      "webhookId": "af171510-9c49-4477-9102-7588905bd6e9",
      "credentials": {
        "slackApi": {
          "id": "22vlM1Z55MCa8hUX",
          "name": "Pi R SQUARE"
        }
      }
    }
  ],
  "connections": {
    "Switch Email Route": {
      "main": [
        [
          {
            "node": "Send Admin Email (PiR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Admin Email (POOH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files?": {
      "main": [
        [
          {
            "node": "Extract File Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Log Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Link": {
      "main": [
        [
          {
            "node": "Set Log Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Create Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Created Folder": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Subfolder": {
      "main": [
        [
          {
            "node": "Use Created Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Folder": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Folder": {
      "main": [
        [
          {
            "node": "Folder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Subfolder?": {
      "main": [
        [
          {
            "node": "Search Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Data": {
      "main": [
        [
          {
            "node": "Need Subfolder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages with Links": {
      "main": [
        [
          {
            "node": "Switch Email Route",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Log Fields": {
      "main": [
        [
          {
            "node": "Append to Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Messages with Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Form Submission": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Webhook": {
      "main": [
        [
          {
            "node": "Format Form Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Not Found": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Form Definition": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Webhook": {
      "main": [
        [
          {
            "node": "get path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Form Definition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get path": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Email (POOH)": {
      "main": [
        [
          {
            "node": "Send User Email (POOH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Email (PiR)": {
      "main": [
        [
          {
            "node": "Send User Email (PiR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4a432d8839f73c04d1c52b619739b20deb63b823fc0c91805299f612d5b8100"
  }
}