n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                -32,
                64
            ],
            "id": "1fa5e919-7b62-42a3-a1a8-fc4e33195295",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg",
                    "mode": "list",
                    "cachedResultName": "[POOH] Dynamic Form Data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Config_Form",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "form id",
                            "lookupValue": "={{ $json.body.form_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -704,
                64
            ],
            "id": "44721ab1-ee20-4ecb-96e9-3ccd04f4ee51",
            "name": "get path",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "eiXrRmu5i3vrFtp9",
                    "name": "POOH' GOOGLE SHEETS"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "b984fe08-59fa-40ff-9707-9eaa257691d1",
                            "leftValue": "={{ $json['form id'] }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -480,
                64
            ],
            "id": "62bf5361-5d45-4851-975d-d89f7ae2bfae",
            "name": "If"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "pir/form",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -928,
                64
            ],
            "id": "12d36e23-2416-4bde-b9f0-08818b051918",
            "name": "Fetch Webhook",
            "webhookId": "a77cbad6-c136-46f1-bd06-d435a94aefa5"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\n\n// Parse the form definition JSON from Google Sheets\nconst formDefinition = item['form definition'];\n\n// Get additional config from Google Sheets columns\nconst logoUrl = item['logo url'] || '';\nconst successUrl = item['success url'] || '';\nconst responseSheet = item['response sheet'] || '';\nconst slackWebhook = item['slack webhook'] || '';\nconst notifyEmails = item['notify emails'] || '';\n\ntry {\n  let parsed = JSON.parse(formDefinition);\n  \n  // If wrapped in 'json' key (Firecrawl format), unwrap it\n  if (parsed.json && parsed.json.questions) {\n    parsed = parsed.json;\n  }\n  \n  // Build config object\n  const config = {\n    logoUrl: logoUrl || parsed.logoUrl || '',\n    successUrl: successUrl || parsed.successUrl || '',\n    responseSheet,\n    slackWebhook,\n    notifyEmails\n  };\n  \n  // Check if it's Firecrawl format with meta/fields\n  if (parsed.meta && parsed.fields) {\n    const questions = parsed.fields.map(field => {\n      const q = { id: field.name, type: field.type, label: field.label, required: field.required || false };\n      if (field.config) {\n        if (field.config.placeholder) q.placeholder = field.config.placeholder;\n        if (field.config.description) q.description = field.config.description;\n        if (field.config.options) q.options = field.config.options.map(opt => typeof opt === 'string' ? opt : opt.label);\n        if (field.config.accept_types) q.accept = field.config.accept_types;\n        if (field.config.max_file_size_mb) q.maxSize = field.config.max_file_size_mb;\n      }\n      if (q.type === 'number') q.type = 'text';\n      return q;\n    });\n    return [{ json: { title: parsed.meta.title || 'Untitled', description: parsed.meta.description || '', questions, ...config } }];\n  }\n  \n  // Standard format\n  return [{ json: { title: parsed.title || 'Untitled', description: parsed.description || '', questions: parsed.questions || [], ...config } }];\n} catch (e) {\n  return [{ json: { error: 'Invalid form definition', message: e.message } }];\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -256,
                -32
            ],
            "id": "bd1fdb33-8863-4c17-8c7c-972fd2505477",
            "name": "Parse Form Definition"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "{\n  \"error\": \"Form not found\",\n  \"message\": \"The requested form ID does not exist\"\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -256,
                160
            ],
            "id": "7a51749b-43ed-4b05-824a-6fbce0e5c24b",
            "name": "Form Not Found"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "pir/form/submit",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -928,
                560
            ],
            "id": "761aeea7-0ef7-41a7-9f84-d16d8fc5e634",
            "name": "Submit Webhook",
            "webhookId": "consent-submit-webhook"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst answers = body.answers || {};\nconst questions = body.questions || [];\n\n// Config from Google Sheets (passed via frontend)\nconst notifyEmails = body.notify_emails || '';\nconst slackWebhook = body.slack_webhook || '';\nconst responseSheet = body.response_sheet || '';\n\n// Auto-detect user email: find first field with type \"email\"\nlet userEmail = '';\nfor (const q of questions) {\n  if (q.type === 'email' && answers[q.id]) {\n    userEmail = answers[q.id];\n    break;\n  }\n}\n\n// Process file fields - separate files from regular answers\nconst fileFields = {};\nconst regularAnswers = {};\n\nfor (const [key, value] of Object.entries(answers)) {\n  if (value && typeof value === 'object' && value.base64) {\n    // This is a file field\n    fileFields[key] = value;\n    regularAnswers[key] = `[FILE: ${value.filename}]`; // Placeholder\n  } else {\n    regularAnswers[key] = value;\n  }\n}\n\nreturn [{\n  json: {\n    submittedAt: body.submitted_at || new Date().toISOString(),\n    formId: body.form_id || '',\n    formTitle: body.form_title || '',\n    answers: JSON.stringify(regularAnswers, null, 2),\n    notifyEmails: notifyEmails,\n    slackWebhook: slackWebhook,\n    responseSheet: responseSheet,\n    userEmail: userEmail,\n    fileFields: fileFields,\n    hasFiles: Object.keys(fileFields).length > 0\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -704,
                560
            ],
            "id": "3bfad14f-2b4e-49ad-a6eb-21be814aaaf5",
            "name": "Format Form Submission"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\n\n// Parse answers JSON string\nlet answers = {};\ntry {\n  answers = JSON.parse(item.answers || '{}');\n} catch (e) {\n  answers = {};\n}\n\n// Build output object with base fields first\nconst output = {\n  'Submitted At': item.submittedAt || '',\n  'Form ID': item.formId || '',\n  'Form Title': item.formTitle || ''\n};\n\n// Spread all answer fields as separate columns\nfor (const [key, value] of Object.entries(answers)) {\n  output[key] = value || '';\n}\n\n// File Link is already included in answers if file was uploaded\n// No need to add duplicate\n\nreturn [{ json: output }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                400
            ],
            "id": "b28c8ee7-59fc-4a50-9231-b622e114b0cc",
            "name": "Set Log Fields"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $json.responseSheet || 'https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?gid=61872764#gid=61872764' }}",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "={{ $json.responseSheet || 'https://docs.google.com/spreadsheets/d/1aQOYO78RwMfB2MUxWc3b1ouONs_lmlKcuvXabKg5XCg/edit?gid=61872764#gid=61872764' }}",
                    "mode": "url"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                640,
                400
            ],
            "id": "849c92e7-4145-4c33-8e6a-7dec888ff467",
            "name": "Append to Log",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "eiXrRmu5i3vrFtp9",
                    "name": "POOH' GOOGLE SHEETS"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Form submitted successfully' }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                864,
                720
            ],
            "id": "677531e5-17ed-4740-8ad6-b8dba78374c5",
            "name": "Respond Success"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "slack-check",
                            "leftValue": "={{ $json.slackWebhook }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                416,
                720
            ],
            "id": "7f2d2685-38ab-4ca2-ad80-a5f13eec67c0",
            "name": "Has Slack?",
            "disabled": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.slackWebhook }}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "=📝 New Form Submission\\n*{{ $json.formTitle }}*\\nForm ID: {{ $json.formId }}\\nSubmitted: {{ $json.submittedAt }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                640,
                656
            ],
            "id": "1dc951d8-dd4f-45ca-a963-a7490e58643d",
            "name": "Send Slack",
            "disabled": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "admin-email-check",
                            "leftValue": "={{ $json.notifyEmails }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -480,
                720
            ],
            "id": "157aee16-29aa-4b44-849c-0cd6ab8e8bb6",
            "name": "Has Admin Email?"
        },
        {
            "parameters": {
                "sendTo": "={{ $json.notifyEmails }}",
                "subject": "=[PiR Form] New submission: {{ $json.formTitle }}",
                "message": "=มีการกรอกฟอร์มใหม่\\n\\nForm: {{ $json.formTitle }}\\nForm ID: {{ $json.formId }}\\nSubmitted: {{ $json.submittedAt }}\\n\\nAnswers:\\n{{ $json.answers }}",
                "options": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                -256,
                656
            ],
            "id": "dea28c8d-8592-4a02-b365-8c513683f2ba",
            "name": "Send Admin Email",
            "webhookId": "efb22689-dad0-497f-a7c6-d38d81379bee",
            "credentials": {
                "gmailOAuth2": {
                    "id": "i6xmL5GuY8gyrXK0",
                    "name": "Gmail Account - POOH"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "user-email-check",
                            "leftValue": "={{ $('Format Form Submission').item.json.userEmail }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -32,
                720
            ],
            "id": "1f0aec4c-09fd-43f3-b0ab-d31644b82352",
            "name": "Has User Email?"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Format Form Submission').item.json.userEmail }}",
                "subject": "=ขอบคุณที่กรอกแบบฟอร์ม: {{ $('Format Form Submission').item.json.formTitle }}",
                "message": "=สวัสดีครับ/ค่ะ\n\nขอบคุณที่กรอกแบบฟอร์ม \"{{ $('Format Form Submission').item.json.formTitle }}\"\n\nเราได้รับข้อมูลของคุณเรียบร้อยแล้ว\n\n📅 วันที่ส่ง: {{ $('Format Form Submission').item.json.submittedAt }}\n📋 Form ID: {{ $('Format Form Submission').item.json.formId }}\n\nขอบคุณครับ/ค่ะ\nPiR Academy",
                "options": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                192,
                656
            ],
            "id": "5b283c60-58e7-48dd-8458-26362cd7e5bb",
            "name": "Send User Email",
            "webhookId": "afcc3490-a712-41dc-8bba-e0904a686171",
            "credentials": {
                "gmailOAuth2": {
                    "id": "i6xmL5GuY8gyrXK0",
                    "name": "Gmail Account - POOH"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "has-files-check",
                            "leftValue": "={{ $json.hasFiles }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -480,
                384
            ],
            "id": "70ae58f4-f47b-4f55-ab45-00c64cfedac6",
            "name": "Has Files?"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst fileFields = item.fileFields || {};\nconst fieldIds = Object.keys(fileFields);\n\nif (fieldIds.length === 0) {\n  return [{ json: { ...item, fileLinks: {} } }];\n}\n\n// Process first file (for simplicity, handle one file at a time)\nconst fieldId = fieldIds[0];\nconst file = fileFields[fieldId];\n\n// Remove data URI prefix (data:mime/type;base64,)\nconst base64Clean = file.base64.split(',')[1] || file.base64;\n\nreturn [{\n  json: {\n    ...item,\n    currentFieldId: fieldId,\n    currentFilename: file.filename,\n    currentMimeType: file.mimeType\n  },\n  binary: {\n    file: {\n      data: base64Clean,\n      mimeType: file.mimeType,\n      fileName: file.filename\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -256,
                320
            ],
            "id": "6b9dd2cd-0295-48cb-b3b4-873d65a91943",
            "name": "Extract File Data"
        },
        {
            "parameters": {
                "inputDataFieldName": "file",
                "name": "={{ $json.currentFilename }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list",
                    "cachedResultName": "My Drive",
                    "cachedResultUrl": "https://drive.google.com/drive/my-drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5",
                    "mode": "list",
                    "cachedResultName": "FORM - Image",
                    "cachedResultUrl": "https://drive.google.com/drive/folders/1Btv-qVE_IEsK8_oFnQGhkYTGR6ncYof5"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -32,
                320
            ],
            "id": "9d18f6b2-bc79-4559-9529-8908f09f4aaf",
            "name": "Upload to Google Drive",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "XIuJit5Z5Xpiw5Pj",
                    "name": "Google Drive account - POOH"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const driveResponse = $input.first().json;\nconst prevData = $('Extract File Data').first().json;\n\n// Google Drive file link\nconst fileId = driveResponse.id;\nconst viewLink = `https://drive.google.com/file/d/${fileId}/view`;\n\n// Update answers to include file link\nconst answers = JSON.parse(prevData.answers || '{}');\nconst fieldId = prevData.currentFieldId;\nanswers[fieldId] = viewLink;\n\nreturn [{\n  json: {\n    submittedAt: prevData.submittedAt,\n    formId: prevData.formId,\n    formTitle: prevData.formTitle,\n    answers: JSON.stringify(answers, null, 2),\n    notifyEmails: prevData.notifyEmails,\n    slackWebhook: prevData.slackWebhook,\n    responseSheet: prevData.responseSheet,\n    userEmail: prevData.userEmail,\n    fileLink: viewLink\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                192,
                320
            ],
            "id": "ebd01433-363d-42d1-bb81-fb4b3360c2a8",
            "name": "Create Drive Link"
        }
    ],
    "connections": {
        "get path": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Parse Form Definition",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Form Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Webhook": {
            "main": [
                [
                    {
                        "node": "get path",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Form Definition": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Form Not Found": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Webhook": {
            "main": [
                [
                    {
                        "node": "Format Form Submission",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Form Submission": {
            "main": [
                [
                    {
                        "node": "Has Files?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Has Admin Email?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Log Fields": {
            "main": [
                [
                    {
                        "node": "Append to Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Slack?": {
            "main": [
                [
                    {
                        "node": "Send Slack",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Slack": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Admin Email?": {
            "main": [
                [
                    {
                        "node": "Send Admin Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Has User Email?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Admin Email": {
            "main": [
                [
                    {
                        "node": "Has User Email?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has User Email?": {
            "main": [
                [
                    {
                        "node": "Send User Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Has Slack?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send User Email": {
            "main": [
                [
                    {
                        "node": "Has Slack?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Files?": {
            "main": [
                [
                    {
                        "node": "Extract File Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Set Log Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract File Data": {
            "main": [
                [
                    {
                        "node": "Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "Create Drive Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Drive Link": {
            "main": [
                [
                    {
                        "node": "Set Log Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "c4a432d8839f73c04d1c52b619739b20deb63b823fc0c91805299f612d5b8100"
    }
}